mat-list-item {
    width: 100%;
}

mat-list {
    padding: 1pt;
}

button {
    width: 100%;
    text-align: left;
}

.space_list .space_listitem {
    background: #eee;
    border: 1px solid transparent;
    border-radius: 7px;
}

.space_list .space_listitem:hover {
    background: #e1e1e1;
    border: 1px solid #d0d0d0;
}