

   <div id="footer">
    {{ if .StatusMessage }}
    <small> 
      {{ .StatusMessage }}
    </small>
    {{end}}
    {{ if .Version }}
      <small>Version: {{ .Version }}</small>
    {{ end }}
  </div>
</div>
</body>

</html>