<div class="container">
  <header>
    <mat-toolbar>
      <!-- <button mat-icon-button class="toolbar-icon" aria-label="icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button> -->
      <a routerLink="/list" routerLinkActive="active" class="toolbar-link" ariaCurrentWhenActive="page">
       <button>Intranet Spaces</button> 
      </a>
      <a routerLink="/query" routerLinkActive="active" class="toolbar-link" ariaCurrentWhenActive="page">
        <button>Search</button>
      </a>
      <span class="toolbar-spacer"></span>
      <button mat-icon-button class="toolbar-icon" aria-label="icon-button with menu icon">
        <mat-icon>settings</mat-icon>
      </button>
    </mat-toolbar>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer>
    <p>Search the intranet</p>
  </footer>
</div>