.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

header {
    flex-shrink: 0;
}

main {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 2em;
}

footer {
    flex-shrink: 0;
}

.toolbar-link {
    margin-left: 1.75rem;
}

.toolbar-spacer {
    flex: 1 1 auto;
}