<mat-toolbar>
  <button mat-icon-button class="toolbar-icon" aria-label="icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <a routerLink="/" routerLinkActive="active" class="toolbar-link" ariaCurrentWhenActive="page">
    Collections
  </a>
  <a routerLink="/search" routerLinkActive="active" class="toolbar-link" ariaCurrentWhenActive="page">
    Search
  </a>
  <span class="toolbar-spacer"></span>
<button mat-icon-button class="toolbar-icon" aria-label="icon-button with menu icon">
  <mat-icon>settings</mat-icon>
</button>
</mat-toolbar>
<main class="main">   
    <!-- The routed views render in the <router-outlet>-->
    <router-outlet></router-outlet> 
    
    <footer><p>Version:</p></footer>
</main>
