<div class="container">
    <header>
        <p>
            <mat-form-field appearance="fill">
                <mat-label>Search {{collection}}</mat-label>
                <input matInput id="search" [formControl]="searchQuery" (keydown.enter)="search()" >
                <mat-icon matSuffix (click)="search()" >search</mat-icon>
            </mat-form-field>
        </p>

    </header>

    <main>
        <div *ngFor="let doc of searchResult?.Documents">
            <app-search-result-item [doc]="doc" />
            <hr />
        </div>
    </main>
</div>